extends ../layout/common

block content

  .container
    h1 Books
    a(href="/books/create") Create New Book

    ul
      each book in books
        li
          span= book.title
          span &nbsp
          span= "-"
          span &nbsp
          span= book.description
          span &nbsp
          a(href="/books/edit-form/"+book.id style="background-color:dodgerblue; text-decoration:none; color:white") Chỉnh sửa
          span &nbsp
          a(href="/books/" + book.id + "/delete" style="background-color:red; text-decoration:none; color:white") Xóa
    