extends ../layout/common

block content

  .container
    h1 Transactions
    a(href="/transactions/create") Create New Book For User

    ul
      each transaction in transactions
        li
          span(style="background-color:dodgerblue") USER ID: &nbsp
          span= transaction.userId
          span &nbsp - &nbsp
          span(style="background-color:yellow") BOOK ID: &nbsp
          span= transaction.bookId
          span &nbsp - &nbsp
          span(style="background-color:deeppink") STATUS: &nbsp
          span(style="font-weight: bold")= transaction.status
          span &nbsp - &nbsp
          a(href="/transactions/"+transaction.id+"/complete") Update Status
          br
          br